alabaster==0.7.16
astroid==3.2.3
babel==2.17.0
beautifulsoup4==4.13.3
Bottleneck==1.3.6
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
dill==0.3.8
distro==1.9.0
docutils==0.21.2
et-xmlfile==1.1.0
greenlet==3.1.1
idna==3.10
imagesize==1.4.1
importlib_metadata==8.6.1
isort==5.13.2
Jinja2==3.1.6
lxml==5.1.0
MarkupSafe==3.0.2
mccabe==0.7.0
mkl-service==2.4.0
openpyxl==3.1.2
packaging==24.2
pandas==2.2.0
platformdirs==4.2.2
psycopg2-binary==2.9.10
pyarrow==11.0.0
Pygments==2.19.1
pylint==3.2.5
PyMuPDF==1.23.21
PyMuPDFb==1.23.9
PyPDF2==3.0.1
python-docx==1.1.0
requests==2.32.3
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.38
tabula==1.0.5
tabula-py==2.9.0
tomli==2.0.1
tomlkit==0.13.0
typing_extensions==4.9.0
urllib3==2.3.0
zipp==3.21.0
